@model StudentElection.Models.Admin

@{
    ViewBag.Title = "AdminHomePage";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <h4 style="color:white">Online Student Election System</h4>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Register Students", "Upload", "Admin")</li>
                <li>@Html.ActionLink("Enroll Candidates", "Login", "Admin")</li>
                <li>@Html.ActionLink("Launch Election", "Student", "Home")</li>
                <li>@Html.ActionLink("Analyse Votes", "Student", "Home")</li>
                <li>@Html.ActionLink("LogOut", "LogOut", "Admin")</li>
            </ul>
        </div>
    </div>
</div>

<h1> Welcome Admin</h1>
  

   