@model StudentElection.Models.Admin

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm("Login", "Admin", FormMethod.Post))
{
    <fieldset>
       
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.userid)</td>
                <td>@Html.TextBoxFor(a => a.userid)</td>
                <td>@Html.ValidationMessageFor(a => a.userid)</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.password)
                </td>
                <td>
                    @Html.PasswordFor(a => a.password)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.password)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td>
                    <asp:Label runat="server" Text="Label"></asp:Label>
                </td>
            </tr>
        </table>
    </fieldset>
}  